#contactUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactUs-title{
    font-size: 4rem;
    padding-left: 2rem;
    text-align:left;
    color: #5C4A72;
    margin-bottom: 1rem;
}

.contactUs-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;

}

form h2{
    text-align: center;
    font-size: 3rem;
    color: white;
}

form{
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
    background: #f4ae58 ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
}

form input {
    width: 100%;
    margin: 0.5rem;
    font-size:  1rem;    
}

textarea{
    width: 100%;
}
.contactUs-box-right{
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding: 0rem 3rem 0rem 3rem;
}

.contactUs-box-right-title{
    font-size: 2.5rem;
}

.contactUs-box-right-text{
    font-size: 1.5rem;
}

.contact-box-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 1rem 0rem 1rem 0rem;
 
}

.contact-box-item img{
    width: 50px;

}

.mi-input { font-weight: bold; }

.contactUs-buttom{
    color: white;
    background: #5C4A72;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
}
