/*--------------------------FOOTER-------------------------*/

footer{

    background: #fcf0e0 url(../assets/icons/footer.png);
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-content: space-around;
    
    justify-items: center;
    padding-bottom: 7rem;
}

footer h1{
    color: white;
}

.footer-title{
  width: 100%;
}

.footer-title{
    width: 50%;
}

.footer-box{
    width: 50%;
    display: flex;
    flex-direction: row;

}

.footer-icon{
    width: 100px;
    height: 100px;
    margin-left: 1rem;
}