/*--------------------------FOOTER-------------------------*/

footer{
    background: #fcf0e0 url(../assets/img/footer.png);
    background-size: contain;
    height: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-content: space-around;  
    justify-items: center;
    padding-bottom: 7rem;
}

footer h1{
    color: white;
}



.footer-box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    width: 50px;
    height: 50px;
    justify-content: center;
    
}

.footer-icon{
    width: 100%;
    margin-left: 1rem;
}

.footer-titulo{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

.facebook-icon{
    height: 80%;
    width: 100%;
   
}

/*===================MEDIA QUERIES(MEDIUM DIVICES)===================*/

@media screen and (max-width: 1024px){


    footer h1{
        margin-left: 0.5rem;
    }

    a{
        margin-left: 10px;
    }
    
}
