/*--------------------------FOOTER-------------------------*/

footer{
    background: rgb(235, 234, 234);
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.footer-title{
    width: auto;
}

