/*--------------------------PACKAGES SLIDE-------------------------*/

.container-title-packages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-packages{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #0062E0;
    margin-bottom: 1rem;
}

.corousel-package{
    display: flex;
    flex-direction: row;
    color: black;
}

.carousel-package-box{
    display: grid;
    grid-template-rows: auto 1fr;
    background:  #FFFFFF;
    border-radius:  0rem 0rem 3rem 3rem;
    border: 2px grey solid;
}

.card-border{
    border-radius:  3rem 3rem 0rem 0rem;
}


.top-border{
    border-top: 2px solid grey;
    padding-top: 1rem;
}

.packages-buttom{
    color: white;
    background: #FF9800;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    width: auto;
    min-height: 50px;
}

.bg-grey{
background: grey;
}

.emphasized { font-style: italic; }

.top-border h6,.top-border h5{
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}

