header{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    font-size:  1.2rem;
}

.header-fondo{
    width: 100%;
}

.header-logo{
    width: 100%;
    cursor: pointer;
    display: flex;
    position: inherit;
    left: 5.5%;
    top: 0%;
    border-radius: 50%;
    transform: rotate(1deg);
    /*box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
}

.logo-enlace{
    width: 12%;
    cursor: pointer;
    display: flex;
    position: inherit;
    left: 5.5%;
    top: 0%;
    border-radius: 50%;
    transform: rotate(1deg);
}

.header-logo:active{
    box-shadow: none;
}

.enlace-logo{
    display: flex;
    position: inherit;
    left: 5.5%;
    top: 0%;
    border-radius: 50%;
    background-image: url(./assets/icons/logo.png);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: inherit;
    right: 5.5%;
    top: 0;
    padding-top: 1%;

    transition: all 0s ease;
}
/*
nav img:hover{
    filter: invert(78%) sepia(82%) saturate(613%) hue-rotate(317deg) brightness(102%) contrast(91%);
}*/

#btn-burger{
    display: none;
}

.header_button{
    margin: 2rem 3rem 0 2rem;  
    color: #FF6700;
    
    text-decoration: none;
    text-align: center;
}

.header_button:hover{
    color: #F3AF5A;
}


.logo-llamada{
    width: 60px;
    margin:0 0.5rem 0 0.5rem ;  
}

#btn-cerrar{
    display: none;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/btn-cerrar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.btn-redondos{
    margin-left: 3rem;
    display: flex;
    justify-content: right;
    width: 100%;
}


/*===================MEDIA QUERIES(MEDIUM DIVICES)===================*/

@media screen and (max-width: 1024px){

    header{
        
        font-size:  0.75rem;
    }

    #btn-inicio,#btn-paquete, #btn-nosotros, #btn-contactanos, #btn-wpp, #btn-videollamada, #btn-cerrar{
        display: none;
    }

    nav{
        background-image:  url(../assets/icons/burger-button.png);
        background-position:  center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        cursor: pointer;
        
    }

    nav:hover{
        background-image:none;
        display:flex;
        flex-direction:column;
        background :   #FF6700;
        width : auto;
        height : auto;
        border-radius : 1rem;
        padding-bottom : 5px;
        border : 3px solid #F3AF5A;
        
    }
    nav:hover #btn-inicio{
        display: block;
    }

    nav:hover #btn-paquete{
        display: block;
    }
    nav:hover #btn-nosotros{
        display: block;
    }
    nav:hover #btn-contactanos{
        display: block;
    }

    nav:hover #btn-wpp{
        display: block;
    }

    nav:hover #btn-videollamada
    {
        display: block;
    }


    .logo-llamada{
        width: 30px;
        height: auto;
       margin:auto;
    }

    .btn-redondos{
        background: white;
        width: 100%;
        margin: 0;
       border-radius: 1rem;
    }

    .header_button{
        color: white;
        margin-left: 0;
    }


}
