header{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    font-size:  1.2rem;
}

.header-fondo{
    width: 100%;
}

.header-logo{
    width: 100%;
    cursor: pointer;
    display: flex;
    position: inherit;
    left: 5.5%;
    top: 0%;
    border-radius: 50%;
    transform: rotate(1deg);
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo-enlace{
    width: 12%;
    cursor: pointer;
    display: flex;
    position: inherit;
    left: 5.5%;
    top: 0%;
    border-radius: 50%;
    transform: rotate(1deg);
}

.header-logo:active{
    box-shadow: none;
}

.enlace-logo{
    display: flex;
    position: inherit;
    left: 5.5%;
    top: 0%;
    border-radius: 50%;
    background-image: url(./assets/icons/logo.png);

}

nav{
    display: flex;
    align-content: flex-end;
    align-items: center;
    position: inherit;
    right: 0;
    top: 1%;
}


nav img:hover{
 
    filter: invert(78%) sepia(82%) saturate(613%) hue-rotate(317deg) brightness(102%) contrast(91%);
   
}

.header_button{
    padding: 0.5rem;
    margin: 0 1rem 0 1rem;
    height: min-content;
    color: white;
}

.header_button:hover{
    color: #F3AF5A;
}


small{
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}


.logo-llamada{
    width: 20%;
}