* {
    transition: all 1s ease;
    box-sizing: border-box;
    /*Fuentes para textos y botones*/
    font-family: 'Francois One', sans-serif;
}

a{
    font-family: 'Work Sans', sans-serif;
}

p{
    font-family: 'Work Sans', sans-serif;
}
/*Fuentes para titulos*/
h1,h2,h3,h5{
    font-family: 'Francois One', sans-serif;
}

body{
   background:#fcf0e0;
}

section{
    padding: 3rem 3rem 3rem 3rem;
    background:#fcf0e0;
}


.carrusel-img{
    width: 100%;
}
