* {
    transition: all 1s ease;
    box-sizing: border-box;
}

body{
   background:#fcf0e0;
}

section{
    padding: 3rem 3rem 3rem 3rem;
    background:#fcf0e0;
}

.titulo{
    font-family: 'Montserrat', sans-serif;

}

.texto-botones{
    font-family: 'Montserrat', sans-serif;

}


/*===================MEDIA QUERIES(MEDIUM DIVICES)===================*/

@media screen and (max-width: 1024px){

    section{
        padding-left: 0rem;
        padding-right: 0rem;
    }
   
}
