* {
    transition: all 1s ease;
    box-sizing: border-box;
}

body{
   background:#fcf0e0;
}

section{
    padding: 3rem 3rem 3rem 3rem;
    background:#fcf0e0;
}

.carrusel-img{
    width: 100%;
}

.titulo{
    font-family: 'Francois One', sans-serif;
}

.texto-botones{
    font-family: 'Poppins', sans-serif;
}