/*--------------------------GENERAL-------------------------*/
#inicio{
    margin-top: 12rem;
    padding: 0 6rem 1rem 6rem;
    width: 100%;
}

/*--------------------------BANNER SLIDE-------------------------*/

#carouselExample{
   margin-bottom: 6rem;
}

.banner-img{
    height: 400px;
}

/*--------------------------PACKAGES SLIDE-------------------------*/

.container-title-packages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-packages{
    border: 1px solid black;
    text-align: center;
    width: min-content;
}

.corousel-package{
    display: flex;
    flex-direction: row;
}

.carousel-box{
    display: grid;
    grid-template-rows: auto 1fr;
}

.card-img-top{
    height: 300px;
}

.top-border{
    border-top: 1px solid grey;
}

/*--------------------------INTRODUCTION-------------------------*/

#introduction{
    align-items: center;
    display: grid;
    grid-template-columns: auto 50%;
    height: 80vh;
    justify-content: center;
    margin: 3rem 0 3rem 0;
}

.introduction-img{
    height: 80%;
    margin-right: 1rem;
    width: 90%;
}

.introduction-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.introduction-text{
    font-size: 1.5rem;
    text-align: center;
}

.introduction_button{
    border: 1px solid black;
    height: min-content;
    padding: 0.5rem;
    text-align: center;
    margin: 0 1rem 0 1rem;
    width: 200px;
}

.introduction_button a{
    text-decoration: none;
}

/*--------------------------REVIEWS-------------------------*/

#review{
    align-items: center;
    background: rgb(235, 234, 234);
    display: flex;
    justify-items: center;
    height: 80vh; 
    width: 100%;
}

#carouselExampleAutoplaying{
    height: 100%;
    width: 100%;
}

.review-card-img{
    height: 300px;
}

.review-box{
    width: 300px;
}

/*--------------------------SOCIAL-NETWORKS-------------------------*/

#social-networks{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 6rem;
    height: 80vh;
    padding: 0 6rem 1rem 6rem;
}

.social-network-box{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social-network-icon{
    height: 50px;
    width: 50px;
}  

.social-network-img{
    border-radius: 2rem;
    height: 500px;
    width: 100%;
}
