
/*--------------------------INTRODUCTION-------------------------*/

#introduction{
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    justify-content: space-between;
}


.introduction-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.introduccion-title {
    font-size: 3rem;
    text-align:center;
    color: #0062E0;
    margin-bottom: 6rem;
}
.introduction-text{
    font-size: 1rem;
    text-align:left;
    margin-right: 3rem;
}

.introduction_button{
    color: white;
    background: #5C4A72;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    width: auto;
}

.introduction_button a{
    text-decoration: none;
}
.contrafondo-img{
    width: 500px;
    height: 500px;
    background: #0062E0;
    display: flex;
}

.img-intro{
    width: 500px;
    z-index: 1;
    position:relative;
    right: 30px;
    top: 30px;
}