
/*--------------------------INTRODUCTION-------------------------*/

#introduction{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
}


.introduction-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.introduction-text{
    font-size: 1.5rem;
    text-align:left;
}

.introduction_button{
    color: white;
    background: #5C4A72;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.introduction_button a{
    text-decoration: none;
}
.contrafondo-img{
    width: 500px;
    height: 500px;
    background: #5C4A72;
    display: flex;
}

.img-intro{
    width: 500px;
    z-index: 1;
    position:relative;
    left: 70px;
    top: 40px;
}