#Packages{
    width: 100%;
}

#packages-banner{
    height: 200px;
    width: 100%;
    border:  1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}
        
#packages-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#packages-filter{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 1rem;
    border: 1px solid black;
}

#packages-options{
    display: flex;
    flex-direction: column;
}
        
.packages-box-element{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 1rem;
    display: grid;
    padding: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: 2fr 6fr;
}

.packages-box-element-img{
    height: 200px;
    width: 200px;
    background: rgb(165, 165, 165);
    text-align: center;
}

.packages-box-element-info{
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    height: 200px;
}

.packages-box-element-buttoms{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.packages-box-element-buttoms a{
    text-decoration: none;
}