.nombre-pack{
    align-items: center;
    background-color:black ;
    background: rgb(246, 242, 242, 70%);
    border-radius: 1rem;
    display: flex;
    height: 200px;
    justify-content: center;
    position: absolute;
    left: calc(50% - 150px);
    top:  calc(50% - 100px);
    width: 300px; 
}

/*-------------------IMAGEN--------------------*/


.singlePack-container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3rem 0 3rem 0;
}

.singlePack-img{
    margin-top: 12rem;
    width: 100%;
}

/*-------------------SINGLEPACK-box--------------------*/

#singlePack-presentation{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.singlePack-title{
    text-align: center;
    padding: 0 2rem 0 2rem;
}

.singlePack-box-left{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 2rem;
}


.singlePack-box-left h1{    
    font-size: 3rem;
    text-align: left;
    color: #5C4A72;
    margin: 0%;
    
}

.singlePack-box-left P{    
    font-size: 1.2rem;
}


.singlePack-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:flex-end;
   margin-right: 2rem;
}

.social-network-icon{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.singlePack-box-right{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    
}

.singlePack-form-box{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
   
    margin: 1rem;
    margin-bottom: 1rem;
    
    padding: 1rem;
    border-radius: 1rem;
   
    width: 100%;
    text-align: center;
    background: #f4ae58 ;
    color: white;
}

.singlePack-form-box-2{
    
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    color: white;
}

.singlePack-consultar-buttom{
    color: white;
    background: #5C4A72;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
}

.input-precio{
    font-size: 2rem;
}


/*-------------------SINGLEPACK-INFO--------------------*/

#singlePackTours{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.singlePackTours-box-left{
    margin: 0;
    margin-right: 3rem;
    padding: 0;
}

.singlePackTours-box-left p{
    text-align: left;
    font-size: 1.2rem;
    
}

.singlePackTours-box-right{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.singlePackTours-box-right p{
    text-align: left;
    font-size: 1.2rem;
    margin: 0rem 1rem 0rem 1rem;
}

/*-------------------GALERY--------------------*/

#singlePack-carouselExample{
    height: 80vh;
    display: flex;
    align-items: center;
}

#singlePack-social-networks{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 6rem;
}

.singlePack-titulo{
    font-size: 3rem;
    text-align: left;
    color: #5C4A72;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
