.nombre-pack{
    align-items: center;
    background-color:black ;
    background: rgb(246, 242, 242, 70%);
    border-radius: 1rem;
    display: flex;
    height: 200px;
    justify-content: center;
    position: absolute;
    left: calc(50% - 150px);
    top:  calc(50% - 100px);
    width: 300px; 
}

/*-------------------IMAGEN--------------------*/


.singlePack-container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3rem 0 3rem 0;
}

.singlePack-img{
    width: 100%;
    height: 400px;
}

/*-------------------SINGLEPACK-box--------------------*/

#singlePack-presentation{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.singlePack-title{
    text-align: center;
    padding: 0 2rem 0 2rem;
}

.singlePack-box-left{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 2rem 0 2rem;
}


.singlePack-box-left h2{
    text-align: left;
}

.singlePack-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:flex-end;
    padding: 0 3rem 0 3rem;
}

.singlePack-box-right{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.singlePack-form-box{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid black;
    width: 300px;
    margin: 1rem;
    margin-bottom: 1rem; 
}

.singlePack-form-box-2{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    
}


form h2{
    text-align: center;
}

form{
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    width: 300px;
    text-align: center;
    justify-content: center;
}
form input {
    margin: 0.5rem;
}


/*-------------------SINGLEPACK-INFO--------------------*/

#singlePackTours{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 80vh;
    padding-top: 2rem;
    justify-content: center;
}

.singlePackTours-box-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-right: 1rem;
    border: 1px solid black;
}

.singlePackTours-box-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem 0 2rem;
    margin-left: 1rem;
    text-align: center;
}

/*-------------------GALERY--------------------*/

#singlePack-carouselExample{
    height: 80vh;
    display: flex;
    align-items: center;
}

#singlePack-social-networks{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 6rem;
}