.nombre-pack{
    align-items: center;
    background-color:black ;
    background: rgb(246, 242, 242, 70%);
    border-radius: 1rem;
    display: flex;
    height: 200px;
    justify-content: center;
    position: absolute;
    left: calc(50% - 150px);
    top:  calc(50% - 100px);
    width: 300px; 
}

/*-------------------IMAGEN--------------------*/


.singlePack-container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3rem 0 3rem 0;
}

.singlePack-img{
    margin-top: 4.5rem;
    width: 100%;
}

/*-------------------SINGLEPACK-box--------------------*/

#singlePack-presentation{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.singlePack-title{
    text-align: center;
    padding: 0 2rem 0 2rem;
}

.singlePack-box-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.singlePack-box-left h1{    
    font-size: 2.5rem;
    text-align: left;
    color: #0062E0;
    margin: 0%;
    width: 100%;
}

.video-flori{
    margin: 1rem 0 1rem 0;
}

.singlePack-box-left P{    
    font-size: 1.2rem;
}


.singlePack-icons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows:1fr 1fr;
   width: 700px;
   margin-top: 1rem;
}

.singlePack-icons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6700;
}

.singlePack-icons div h1{
    font-size: 5px;
}

#ida_vuelta{
    grid-column: 1 / 2;
    grid-row: 1;
}
#alojamiento{
    grid-column: 3 / 4;
    grid-row: 1;
}
#salud{
    grid-column: 2 / 3;
    grid-row: 2;
}
#prof{
    grid-column: 4 / 5;
    grid-row: 2;
}

.social-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.singlePack-box-right{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;

}

.singlePack-form-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
    background: #FF6700 ;
    color: white;
    height: 100px;
}

.singlePack-form-box h2{
    font-size: 1.5rem;
}

.singlePack-form-box-2 label{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 100 ;
}



form{
    width: 100%;
    
}

.singlePack-form-box-2{
    
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    color: white;
}

.singlePack-consultar-buttom{
    color: white;
    background: #0062E0;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
}

.input-precio{
    font-size: 1rem;
}


/*-------------------SINGLEPACK-INFO--------------------*/

#singlePackTours{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.singlePackTours-box-left{
    margin: 0;
    margin-right: 3rem;
    padding: 0;
}

.singlePackTours-box-left p{
    text-align: left;
    font-size: 1.2rem;
    
}

.singlePackTours-box-right{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.singlePackTours-box-right p{
    text-align: left;
    font-size: 1.2rem;
    margin: 0rem 1rem 0rem 1rem;
}

/*-------------------GALERY--------------------*/

#singlePack-carouselExample{
    height: 80vh;
    display: flex;
    align-items: center;
}

#singlePack-social-networks{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 6rem;
}

.singlePack-titulo{
    font-size: 2rem;
    text-align: left;
    color: #0062E0;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


/*------------------------------formulario---------------------------*/

.formulario_contacto{
    margin-top: 1rem;
    width: 500px;
}

